.main{

    display: flex;
    margin: 1rem auto;
    justify-content: center;
    width: 100%;

    flex-direction: column;
}

.inputs-create{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    padding: 3rem;
    width: 30rem;
    margin: auto;
    border-radius: 2rem;
}

.inputs-create label{
    margin: .3rem;
}

.inputs-create input{
    height: 2rem;
    outline: none;
    font-size: 1rem;
    border-radius: 2rem;
    font-family: monospace;
    text-transform: capitalize;
    padding: 1rem;
    width: 20rem;
}
.inputs-create button{
    margin: 1rem 0;
    height:3rem;
    width: 20rem;
    border-radius: 2rem;
}
.get-produtos{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1rem auto;
   
    
}

.ver-produtos-button{
   border: 2px solid blue;
   width: 20rem;
   font-family: monospace;
   text-transform: uppercase;
}

.get-produtos .ver-produtos-button{
    margin: auto;
    border-radius: 2rem;
    height: 2rem;
    outline: none;
    width: 8rem;
    margin-bottom: 2rem;
    
}
.list-produtos{
    background-color: white;
    margin: auto
    
}

.list-produtos table{
   margin-bottom: .2rem;
   width: 100%;
   border: 2px solid black;
   
  
}




.list-produtos table tr th{
    align-items: center;
    padding: 1rem;
    border: 2px solid black;
    
}


.list-produtos table tr td input{
    height: .8rem;
    width: 100%;
    margin: .3rem;
    border-radius: .3rem;
    padding: 1rem;
    font-size: large;
    outline: none;
    
} 
.list-produtos table tr td{
    border: 2px solid black;
    text-align: center;
   padding: 1rem;
    margin: 1rem;    
 

} 

.list-produtos table tr button{
    width: 8em;
    align-items: center;
 
}

input{
   width: 10rem;
   text-align: center;

}

.button-buy{
    border-radius: 1rem;
   
}